name: Daily News Digest

on:
  schedule:
    - cron: "0 8 * * *"   
  workflow_dispatch:   

jobs:
  run-news-digest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run daily news digest
        env:
            EMAIL_SMTP: ${{ secrets.EMAIL_SMTP }}
            EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
            EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
            EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
            EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
            EMAIL_RECIPIENTS: ${{ secrets.EMAIL_RECIPIENTS }}
        run: python main.py
